<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jieun.project2">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".ThingsToDo" />
        <activity android:name=".edit_delete" />
        <activity android:name=".NoticeBoard" />
        <activity
            android:name=".Popup"
            android:taskAffinity="com.example.jieun.project2.Popup"
            android:theme="@style/AppTheme.CustomTheme" />
        <!-- Invoke activity Popup when screen turned off -->
        <!-- android:theme = "@android:style/Theme.Dialog"/> -->


        <!-- Geofence -->
        <service
            android:name=".GeofenceTransitionIntentService"
            android:exported="false" />
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <!-- GCM -->


        <!-- which handles messages sent from GCM to your application. -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- implicit intent -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyGcmListenerService"
            android:exported="false">
            <intent-filter>

                <!-- implicit intent -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- To use this API, include InstanceIDListenerService in the manifest -->
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>

                <!-- implicit intent -->
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".RegistrationService"
            android:exported="false" />

        <!-- clear until this line -->

        <activity android:name=".DateTime" />
        <activity android:name=".IdIntent" />
        <activity android:name=".FriendActivity" />
        <activity android:name=".FriendPopup"></activity>
    </application>

</manifest>